In [1]:
import pandas as pd
import numpy as np
import urllib.request
import os
from tqdm import tqdm # progess bar
from PIL import Image
from io import BytesIO

In [2]:
train_data = pd.read_csv('/share/jproject/fg538/r-006-gpu-4/data/train.csv')
temp = train_data.groupby(['landmark_id']).size().reset_index(name='counts')
temp.sort_values('counts', ascending=False, inplace=True)

In [3]:
# Getting the top n landmark_ids with most samples
# Top n classes
temp_2 = np.array(temp.head(100)['landmark_id'])

In [19]:
temp[:100]

       landmark_id  counts
9633          9633   50337
6051          6051   50148
6599          6599   23415
9779          9779   18471
2061          2061   13271
5554          5554   11147
6651          6651    9508
6696          6696    9222
5376          5376    9216
2743          2743    8997
4352          4352    8993
13526        13526    8667
1553          1553    7814
10900        10900    7038
8063          8063    6662
8429          8429    6426
4987          4987    5358
12220        12220    5313
11784        11784    5259
2949          2949    4919
12718        12718    3810
3804          3804    3695
10184        10184    3622
7092          7092    3543
10045        10045    3452
2338          2338    3427
12172        12172    3376
3924          3924    3363
428            428    3171
9029          9029    2603
...            ...     ...
13876        13876    1348
5046          5046    1347
12676        12676    1344
10577        10577    1313
4981          4981    1309
13332        13332    1303
878            878    1299
2341          2341    1290
1213          1213    1285
7041          7041    1273
7008          7008    1252
6476          6476    1242
960            960    1232
152            152    1218
9999          9999    1213
1546          1546    1193
7764          7764    1191
4644          4644    1183
9605          9605    1179
7420          7420    1163
4954          4954    1160
6597          6597    1151
5475          5475    1141
3426          3426    1139
3065          3065    1115
1310          1310    1112
5166          5166    1106
5421          5421    1097
6347          6347    1096
11536        11536    1094

[100 rows x 2 columns]

In [8]:
# train data with only top n classes
train_data_sub = train_data.loc[train_data['landmark_id'].isin(temp_2[26:])]
train_data_sub.head()

,id,url,landmark_id
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231
8,dc9457d703e612ad,https://lh3.googleusercontent.com/-Px33Q-wekRI...,13170
13,0a8339ce84ee6592,https://lh3.googleusercontent.com/-GTNxkF44dlY...,6347
26,17f3719ad574e36c,https://lh6.googleusercontent.com/-zJn1KZ9DnnY...,4981
41,6e815d2054869066,https://lh4.googleusercontent.com/-gj2wg-G_7Ls...,1546